<div class="home">
  <div class="form">
    <form action="/search/" method="POST">
      <label for="moviename">Movie Name</label>
      <input type="text" id="moviename" name="moviename" required />
      <button type="submit">Search</button>
    </form>
  </div>
  <br />
  <form method="POST" action="/suggestamovie" enctype="multipart/form-data">
    <button type="submit">Suggest a Movie</button>
  </form>
</div>
